/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer{
  padding-top: 70px;
  padding-bottom: 70px;
}

h1,
h2,
h3,
h4
h5,
h6{
  font-size: 2rem;
  line-height:50px;
  font-family:sans-serif;
  color: #0a2b1e;
  font-weight: 600;
} */